# OS-specific
.DS_Store

# Editors
*~
\#*\#
**/.vscode
.spyderproject
.spyproject
.idea/

# Byte-compiled files
__pycache__
*.pyc

# Build output
build/
*.egg-info
dist/

# Virtual environment
venv/
.venv

# Reports
.coverage
.coverage.*
coverage.xml
*.cover
reports/

# Caches
.*[cC]ache*

# Documentation
.docs
mike-*.yml

# Jupyter notebooks
.ipynb_checkpoints

# Cruft update files
*.rej

# Project specific
tests/test_outputs/
test_chunks.csv
genet_output/*
outputs/
example_data/output_*/*
example_data/api_requests_send.json
